RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [QSA]
RewriteRule ^about$ mod/page/view.php?id=319
RewriteRule ^contact$ mod/page/view.php?id=320
RewriteRule ^team$ mod/page/view.php?id=321
RewriteRule ^alliances$ mod/page/view.php?id=322
RewriteRule ^mission$ mod/page/view.php?id=323
RewriteRule ^programs$ mod/page/view.php?id=319
RewriteRule ^empowerment$ course
RewriteRule ^education$ mod/page/view.php?id=319
