{{#hasmarkettiles}}
<div class="markettiles">
    <div class="container-fluid">
    <div class="row">

        {{#markettiles}}
        {{#hastile}}

        <div class="col-md-6">
        <a href="{{tileurl}}" title="{{tiletitle}}" alt="{{tiletitle}}" target="_self">
            <div class="market-tile">
                <div class="marketcontent {{{tileimage}}}">
                <p>{{{content}}}<p>
                </div>
            </div>
        </a>
        </div>

        {{/hastile}}
        {{/markettiles}}

    </div>
    </div>
</div>
<div style="clear:both;"></div>
{{/hasmarkettiles}}